<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Logowanie</title>

        <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <div class="background">
            <div class="main">
                <div class="greetings">
                    <h1>WELCOME</h1>
                </div>
                <div class="login">
                    <form action="/admin/password" method="post" class="form">
                        <div class="input">
                            <h2>Login</h2>
                            <input type="text" name="login" placeholder="Login" /><br />
                        </div>

                        <div class="input">
                            <h2>Password</h2>
                            <input type="password" name="password" placeholder="Password" /><br />
                        </div>

                        <div class="input">
                            <h2>New Password</h2>
                            <input type="password" name="newPassword" placeholder="New Password" /><br />
                        </div>

                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>

            <div class="backs">
                <a href="https://www.vecteezy.com/free-vector/geometric">Geometric Vectors by Vecteezy</a>
            </div>
        </div>
    </body>
</html>