<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tagi</title>
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/admin.css" />

        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>
        <style>
            button {
                width: fit-content;
            }
            .x {
                background-color: red;
            }
            .x:hover {
                box-shadow: 2px 5px 20px 1px red;
            }
            ul {
                margin: auto;
                width: fit-content;
            }
            li {
                text-align: right;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <div class="icon-menu" id="menuIcon">
                <div class="blocks">
                    <div class="mEl1, mEl"></div>
                    <div class="mEl2, mEl"></div>
                    <div class="mEl3"></div>
                </div>
            </div>
            <div class="menu">
                <div class="menuList" id="menuList" style="display: none">
                    <div class="toggleMenu">
                        <ul>
                            <li><a href="/admin">Admin</a></li>

                            <li><a href="/admin/new">Dodaj książkę</a></li>

                            <li><a href="/admin/edit">Edytuj książkę</a></li>

                            <li><a href="/admin/delete">Usuń książkę</a></li>

                            <li><a href="/admin/tags">Zarządzaj tagami</a></li>

                            <li><a href="/admin/logout">Wyloguj się</a></li>
                        </ul>
                    </div>
                    <div class="border"></div>
                    <div class="menuChild"></div>
                </div>
            </div>

            <script src="/js/menuAnimation.js"></script>

            <div class="header-content">
                <form action="/admin/tags" method="post">
                    <input type="text" name="tagName" /> <button type="submit">Create</button>
                </form>
                <ul>
                    <% tags.forEach(tag => { %>
                    <li><%= tag.name %> <button class="x" onclick="erase('<%= tag._id %>')">X</button></li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <script>
            function erase(tagId) {
                if (confirm("u sure?")) {
                    fetch("/admin/deletetag", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ id: tagId }),
                    }).then(() => {
                        location.reload();
                    });
                }
            }
        </script>
    </body>
</html>