<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/TEMPadmin.css" />
	</head>
	<body>
		<% if (msg) { %>
		<p><%= msg %></p>
		<script>
			window.history.pushState({}, document.title, window.location.pathname);
		</script>
		<% } %>
		<a href="/admin">Go back to the cave</a>
		<h1>choose le book or else... 👺</h1>
		<% books.forEach(book => { %>
		<a href="/admin/edit/<%= book._id %>"><%= book.title %> by <%= book.author %></a><br />
		<% }) %>
	</body>
</html>
