<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=2.0" />
		<title>READ ON!</title>

		<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<div class="header">
			<div class="menu">
				<ul>
					<li><a href="/">Strona główna</a></li>

					<li><a href="/admin/new">Dodaj książkę</a></li>

					<li><a href="/admin/edit">Edytuj książkę</a></li>
				</ul>
			</div>

			<div class="header-content">
				<div class="title">
					<h2>READ <span>ON!</span></h1>
				</div>
				<div class="title-content">
					<p id="titleText"></p>
				</div>
			</div>
		</div>

		<div class="main">
			<p class="textMain">Lista dostępnych książek</p>
			<div class="bookList">
				<% books.forEach(book => { %>
				<div class="book" id="book">
					<div class="image" id="image">
						<img src="<%= book.imgLink %>" class="img" />
					</div>

					<div class="book-content">
						<div class="book-title" id="bookTitle">
							<p><%= book.title %></p>
						</div>

						<div class="author" id="author">
							<p><%= book.author %></p>
						</div>
						<div class="description" style="display: none">
							<p id="bookDesc" class="bookDesc"><%= book.desc %></p>
						</div>
					</div>
				</div>
				<% });%>
			</div>
		</div>
		<script src="/js/index.js"></script>
	</body>
</html>
