<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Logi</title>
    </head>
    <body>
        <h1>mmmmm logs</h1>
        <table>
            <tr>
                <td>#</td>
                <td>Path</td>
                <td>Error</td>
            </tr>
            <% errors.forEach((error, i) => { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= error.path %></td>
                    <td><%= error.err %></td>
                    <td><%= error.created_at %></td>
                </tr>
            <% }) %>
        </table>
    </body>
</html>
