<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>list of tags</h1>
        <ul>
            <li>
                <form action="/admin/tags" method="post">
                    <input type="text" name="tagName" /> <button type="submit">Create</button>
                </form>
            </li>
            <% tags.forEach(tag => { %>
            <li><%= tag.name %> <button onclick="erase('<%= tag._id %>')">X</button></li>
            <% }) %>
        </ul>
        <script>
            function erase(tagId) {
                fetch("/admin/deletetag", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ id: tagId }),
                }).then(() => {
                    location.reload();
                });
            }
        </script>
    </body>
</html>
