*{
    font-family:Arial, Helvetica, sans-serif;
}
input[type="text"], input[type="file"], textarea{
    width: 500px;
    padding: 10px 30px;
    margin: 8px auto;
    display: inline-block;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 18px;
    border: none;

    border-bottom: 1px solid #ffffff;
}

:focus{
    outline:none;
}

::placeholder {
    color: white;
    opacity: 0.8;
    font-size: 15px;
}

input[type="file"]::-webkit-file-upload-button{
    background: none;
    border: none;
    background: #0a290b;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;

    transition:all 0.5s;
}

input[type="file"]::-webkit-file-upload-button:hover{
    border-radius:0;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 500px;
    transition: 0.5s;
    font-size: 20px;
}


button:hover {
    box-shadow: 2px 5px 20px 1px #4caf50;
}

.abutton {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
}

#books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bookList {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: fit-content;
    column-gap: 30px;
    row-gap: 40px;
    overflow-x: hidden;
    justify-content: center;

    font-size: 20px;
}

.book-content {
    margin: 20px;
    padding-bottom: 5%;
}

.book-title {
    font-size: 25px;
    font-weight: 500;
}

.author {
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;

    color: black;
}

#titleText {
    transition: 0.5s;
}

.bookDesc {
    font-size: 15px;
    width: fit-content;
    height: fit-content;
}

.description {
    position: initial;
    bottom: 0;
    left: 0;
}

.book:hover {
    background: rgb(71, 7, 71);
    border-radius: 20px 20px 0px 0px;
    color: white;
    box-shadow: 0px 0px 10px 0px black;
}

.book:hover .author {
    letter-spacing: 2px;
    color: white;
}

.img {
    width: 350px;
    height: 500px;

    border-radius: 20px 20px 0px 0px;
}

.addForm{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
h1{
    position: absolute;
    top: 90%;
    left: 25%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.addForm h1{
    position: relative;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width:1050px) {

    .addForm{
        position: relative;
        transform: translateY(-10%);
    }
}

@media screen and (max-width:719px) {

    .addForm{
        position: relative;
        transform: translateY(-40%);
    }
}

@media screen and (max-width: 600px){
    input[type="text"], input[type="file"], textarea{
        width: 400px;
    }

    button {
        width: 400px;
    }
}

@media screen and (max-width: 450px){
    input[type="text"], input[type="file"], textarea{
        width: 300px;
    }

    button {
        width: 300px;
    }
}