* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    top: -9px;
    left: -9px;
}

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px 0px black;
    background: url("/images/mainBackground.jpg");
}

a {
    text-decoration: none;
    color: unset;
}

.menu {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu ul {
    display: flex;
    position: absolute;
    right: 2%;
}

.menu li {
    margin: 20px 30px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
    padding: 10px 20px;
}

.menu a:hover {
    letter-spacing: 3px;
    color: rgb(66, 21, 21);
}

.menu li:hover {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.toggle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -105%;
    top: -10%;
    background: url("../images/colors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 30px 0px black;
    transition: 0.5s;
    padding-bottom: 10%;

    z-index: -1;
}


span {
    font-weight: 700;
    border-bottom: 1px solid black;
    color: purple;
    padding: 5px 10px;
}

@media screen and (min-width:1550px){

    #image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    }

    p {
        line-height: 25px;
        font-size: 20px;
        font-weight: 500;
    }


    .main {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 20%;
    left: 0;

    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    }
}

@media screen and (max-width:1549px){

    #image {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    }

    p {
        line-height: 25px;
        font-size: 20px;
        font-weight: 500;
    }

    h1, h2{
        padding:  0 20px;
        line-height: 40px;
    }


    .main {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 20%;
    left: 0;

    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    }
}

@media screen and (max-width:1199px){

    #image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    }

    p {
        line-height: 25px;
        font-size: 20px;
        font-weight: 500;
    }


    .main {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 20%;
    left: 0;

    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    }
}

@media screen and (max-width:1049px){

    #image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: auto;
    }

    p {
        line-height: 25px;
        font-size: 20px;
        font-weight: 500;
        padding: 30px;
    }


    .main {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 30%;
    left: 0;

    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, fit-content);
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    }
}

@media screen and (max-width:599px){

    #image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: auto;
    }

    p {
        line-height: 26px;
        font-size: 20px;
        font-weight: 500;
        padding: 30px;
    }
}

@media screen and (max-width:449px){

    #image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    }

    p {
        line-height: 26px;
        font-size: 20px;
        font-weight: 500;
        padding: 30px;
    }

    .toggle{
        padding-bottom: 20%;
    }
}

@media screen and (max-width:349px){

    #image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    }

    p {
        line-height: 26px;
        font-size: 20px;
        font-weight: 500;
        padding: 30px;
    }

    .toggle{
        padding-bottom: 20%;
    }
}