* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    top: -9px;
    left: -9px;
}


a {
    text-decoration: none;
    color: unset;
}

.menu a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    transition: 0.5s;
    padding: 10px 20px;

}

.menu a:hover {
    letter-spacing: 4px;
    /* color: darkred; */
    color: #704214;
}

.menu ul {
    position: absolute;
    right: 2%;
}

.menu li {
    margin: 20px 30px;
    list-style: none;
}

/* .icon-menu {
    font-size: 50px;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    color: #996515;

    z-index: 2;

    transition: all 0.5s;
    display: block;
} */

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb{
    background: rgb(122, 71, 55);

    border-radius: 10px;
}

.icon-menu{
    width: 50px;
    height: 50px;
    z-index: 2;
    position: absolute;
    top: 2%;
    right: 2%;

    border-radius: 50%;

}

.blocks{
    display: grid;
    grid-template-columns: repeat(1, 35px);
    grid-template-rows: repeat(3, 5px);
    row-gap: 4px;
    position: relative;
    top: 28%;
    left: 55%;
    transform: translateX(-40%);
}



.mEl{
    background: #996515;
    z-index: 2;
    border-radius: 6px;
}
.mEl3{
    width: 17px;
    /* background: #DAA520; */
    background: #A0522D;
    border-radius: 6px;
    transition: 0.5s;
    margin-left:18px ;
}

.icon-menu:hover .mEl3{
    width: 35px;
    margin-left: 0;
}

.menuList ul{
    text-align: center;
    position: relative;
    top:50%;
    transform: translateY(-40%);
}

.toggle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -105%;
    top: -10%;

    background: linear-gradient(to right, #904321, #b06433, #e89c53);

    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 30px 0px black;
    transition: 0.5s;
    padding-bottom: 10%;

    z-index: -1;
}


span {
    font-weight: 700;
    border-bottom: 1px solid black;
    color: #996515;
    padding: 1px 10px;
}

.edited {
    color: black;
    border: none;
}
#categories {
    font-weight: 700;
    border: none;
    color: black;
}

p {
    text-align: justify;
}

@media screen and (min-width:1550px) {

    #image {
        width: 500px;
        height: 500px;
        border-radius: 50%;
    }

    p {
        width: 95%;
        line-height: 25px;
        font-size: 20px;
        font-weight: 500;
    }


    .main {
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 20%;
        left: 0;

        display: grid;
        grid-template-columns: 30% 65%;
        column-gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .menuList {
        display: grid;
        grid-template-columns: 40% 2px 59%;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }

    .menuChild{
        width: 59%;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
        background: url("https://i.pinimg.com/originals/24/3c/1d/243c1d709182329320633deb19f207b3.jpg");
        background-position: 51%;
        background-repeat: no-repeat;
        background-size: cover ;
    }

    .border{
        width: 100%;
        height: 90%;
        background-color: #704214;
    }

    .menu a{
        font-weight: 900;
        font-size: 40px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width:1549px) {

    #image {
        width: 450px;
        height: 450px;
        border-radius: 50%;
    }

    p {
        width: 95%;
        line-height: 25px;
        font-size: 20px;
        font-weight: 500;
    }   

    h1,
    h2 {
        padding: 0 20px;
        line-height: 40px;
    }

    .main {
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 20%;
        left: 0;

        display: grid;
        grid-template-columns: 35% 60%;
        column-gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .toggle{
        position: absolute;
        top: 0;
    }

    .menuList {
        display: grid;
        grid-template-columns: 40% 2px 59%;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }

    .menuChild{
        width: 59%;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
        background: url("https://i.pinimg.com/originals/24/3c/1d/243c1d709182329320633deb19f207b3.jpg");
        background-position: 51%;
        background-repeat: no-repeat;
        background-size: cover ;
    }

    .border{
        width: 100%;
        height: 90%;
        background-color: #704214;
    }

    .menu a{
        font-weight: 900;
        font-size: 40px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width:1199px) {

    #image {
        width: 450px;
        height: 450px;
        border-radius: 50%;
    }

    p {
        font-size: 20px;
        font-weight: 500;
    }

    .main {
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 20%;
        left: 0;

        display: grid;
        grid-template-columns: 40% 55%;
        column-gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .menuList {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 44% 2px 54%;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }

    .menuChild{
        width: 100%;
        height: 54%;
        position: absolute;
        top:46%;
        right: 0;
        background: url("https://i.pinimg.com/originals/24/3c/1d/243c1d709182329320633deb19f207b3.jpg");
        background-position: 51%;
        background-repeat: no-repeat;
        background-size: cover ;
    }

    .border{
        width: 100%;
        height: 90%;
        background-color: #704214;
    }
}

@media screen and (max-width:1049px) {

    #image {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        margin: auto;
    }

    p {
        font-size: 20px;
        font-weight: 500;
        padding: 30px;
        text-align: justify;
        width: 80%;
        margin: auto;
    }

    .main {
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 200px;
        left: 0;

        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2, fit-content);
        row-gap: 40px;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    .toggle{
        position: absolute;
        top: -40px;
    }

    .menuList {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 49% 2px 49%;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }

    .menuChild{
        width: 100%;
        height: 49%;
        position: absolute;
        top:51%;
        right: 0;
        background: url("https://i.pinimg.com/originals/24/3c/1d/243c1d709182329320633deb19f207b3.jpg");        
        background-position: 51%;
        background-repeat: no-repeat;
        background-size: cover ;
    }

    .border{
        width: 100%;
        height: 90%;
        background-color: #704214;
    }

    .menu a{
        font-weight: 700;
        font-size: 30px;
    }
}

@media screen and (max-width:599px) {

    #image {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        margin: auto;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        padding: 30px;
    }
}

@media screen and (max-width:449px) {

    #image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: auto;
    }

    p {
        font-size: 20px;
        font-weight: 500;
        padding: 30px;
    }

    .toggle {
        padding-bottom: 20%;
    }
}

@media screen and (max-width:349px) {

    #image {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: auto;
    }

    p {
        line-height: 26px;
        font-size: 20px;
        font-weight: 500;
        padding: 30px;
    }

    .toggle {
        padding-bottom: 20%;
    }
}