:root {
    /* CSS HEX */
    --white: #CEDEE3ff;
    --light-blue: #BCD6DCff;
    --gray: #39444Fff;
    --dark: #2B3039ff;
    --brown: #654332ff;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb{
    background: rgb(122, 71, 55);

    border-radius: 10px;
}

span {
    background: crimson;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    transition: 1s;
}

a {
    text-decoration: none;
    color: unset;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
    padding: 10px 20px;
}

.menu a:hover {
    letter-spacing: 3px;
    color: rgb(66, 21, 21);
}

.menu li:hover {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

form {
    padding: 20px;
}

input {
    margin: 10px 0;
}

input[type="text"] {
    border: none;
    background: none;
    border-bottom: 1px solid #2B3039ff;
    padding: 6px 10px;
    font-size: 18px;
    transition: 0.5s;
}


input[type="text"]:focus {
    outline: none;
}

input[type="submit"] {
    font-size: 18px;
    background: none;
    border: none;
    border: 1px solid #2B3039ff;
    padding: 10px 30px;

    transition: 0.5s;
}

input[type="submit"]:hover {
    background: #2B3039ff;
    color: white;
    border-radius: 0;
}

input[type="button"] {
    font-size: 18px;
    background: none;
    border: none;
    border: 1px solid #2B3039ff;
    padding: 10px 30px;

    transition: 0.5s;
}

input[type="checkbox"] {
    display: none;
}

input[type="button"]:hover {
    background: #2B3039ff;
    color: white;
    border-radius: 0;
}

label {
    background: var(--gray);
    width: max-content;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    margin: 10px 10px;
    align-items: center;

    transition: all 0.5s;
}

label:hover {
    background: #8B4513;
}

.selected {
    background: #8B4513;
}

.book {
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px 0px black;

    transition: 0.5s;
}

.book:hover {
    background: #093a29;
    border-radius: 20px 20px 0px 0px;
    color: white;
    box-shadow: 0px 0px 10px 0px black;
}

.book:hover .author {
    letter-spacing: 2px;
    color: white;
}

.tags {
    display: flex;
    justify-content: center;
    text-align: center;
}

.textMain {
    padding: 20px;
}

img {
    aspect-ratio: 9/13;
}


.header {
    background: url("/images/mainBackground.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px 0px black;
}

.title {
    text-align: center;
    font-size: 40px;
}

.title-content {
    font-size: 25px;
    color: white;
    width: 70%;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 100%;
    left: 15%;
}

.header-content {
    width: 100%;
    position: absolute;
    top: 30%;
}

.main {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 102%;
    left: 0;
    padding-bottom: 10%;
    margin-top: 20px;
}

.menu {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
}

.menu ul {
    display: flex;
    position: absolute;
    right: 2%;
}

.menu li {
    margin: 20px 30px;
    list-style: none;
}

.textMain {
    text-align: center;
    font-size: 35px;
}

.addInput {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: 2px solid white;
    text-decoration: none;
    position: absolute;
    width: 10%;
    text-align: center;
    bottom: 25%;
    left: 45%;

    font-size: 25px;
    padding: 20px 40px;
    border-radius: 40px;

    transition: 0.5s;
}

.addInput:hover {
    color: black;
    background: white;
    border-radius: 0;
}

.book-content {
    margin: 20px;
}

.book-title {
    font-size: 25px;
    font-weight: 500;
}

.author {
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;

    color: black;
}

#titleText {
    transition: 0.5s;
}

.bookDesc {
    font-size: 15px;
    width: fit-content;
    height: fit-content;
}

.description {
    position: initial;
    bottom: 0;
    left: 0;
}

.icon-menu:hover {
    color: white;
}

.pages {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.previous button,
.pagesList button,
.next button {
    background: none;
    border: none;
    font-size: 25px;
    border-bottom: 2px solid black;
    margin: 2px;
    padding-bottom: 2px;
    width: 35px;
    height: 35px;
    transition: all 0.5s;
}

.previous button:hover,
.pagesList button:hover,
.next button:hover {
    border: 2px solid black;
    padding: 2px;
    border-radius: 50%;
    background: rgb(71, 7, 71);
    color: white;
}

@media screen and (min-width:1600px) {

    .bookList {
        display: grid;
        grid-template-columns: repeat(4, 350px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
        padding-top: 30px;
    }

    .img {
        width: 100%;
        height: auto;

        border-radius: 20px 20px 0px 0px;
    }

    .toggleMenu {
        display: none;
    }
}

@media screen and (max-width:1599px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
        padding-top: 30px;
    }

    .img {
        width: 100%;
        height: auto;

        border-radius: 20px 20px 0px 0px;
    }


    .toggleMenu {
        display: none;
    }
}

@media screen and (max-width:1349px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }

    .textMain {
        text-align: center;
        font-size: 32px;
    }

}

@media screen and (max-width:1249px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(3, 340px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media screen and (max-width:1149px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(3, 310px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media screen and (max-width:1049px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media screen and (max-width:999px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }

    .menuList {
        display: none;
        min-width: 250px;
        height: 100%;
        padding: 50px 10px;
        position: absolute;
        top: 100px;
        right: 0%;
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);

        border-radius: 10px 0px 0px 10px;
    }

    .menu ul {
        display: block;
        position: absolute;
        right: 2%;
        align-items: center;
        text-align: center;
    }

    .menu a {
        color: #CFB53B;;
        margin: auto;
    }

    .menu li {
        text-align: center;
        margin: 20px 0;
    }

    .menu a:hover {
        color: rgb(176, 192, 197);
    }


    .menu {
        background: none;
    }

    .icon-menu {
        font-size: 50px;
        padding: 20px;
        position: absolute;
        top: 0;
        right: 0;

        transition: all 0.5s;
    }

    .toggleMenu {
        display: block;
    }

}


@media screen and (max-width:899px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}


@media screen and (max-width:719px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: fit-content;
        column-gap: 20px;
        row-gap: 30px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media screen and (max-width:649px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(1, 80%);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }

    .tags {
        display: block;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    label {
        display: block;
        margin: 10px auto;
    }
}