:root {
    /* CSS HEX */
    --white: #CEDEE3ff;
    --light-blue: #BCD6DCff;
    --gray: #39444Fff;
    --dark: #2B3039ff;
    --brown: #654332ff;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

span {
    background: rgb(123, 31, 31);
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    transition: 1s;
}

a {
    text-decoration: none;
    color: unset;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
    padding: 10px 20px;
}

.menu a:hover {
    letter-spacing: 3px;
    color: rgb(66, 21, 21);
}

.menu li:hover {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

form {
    padding: 20px;
}

input {
    margin: 10px 0;
}

input[type="text"] {
    border: none;
    background: none;
    border-bottom: 1px solid purple;
    padding: 6px 10px;
    font-size: 18px;
    transition: 0.5s;
}


input[type="text"]:focus {
    outline: none;
}

input[type="submit"] {
    font-size: 18px;
    background: none;
    border: none;
    border: 1px solid purple;
    padding: 10px 30px;

    transition: 0.5s;
}

input[type="submit"]:hover {
    background: purple;
    color: white;
    border-radius: 0;
}

input[type="button"] {
    font-size: 18px;
    background: none;
    border: none;
    border: 1px solid purple;
    padding: 10px 30px;

    transition: 0.5s;
}

input[type="checkbox"]{
    display: none;
}

input[type="button"]:hover {
    background: purple;
    color: white;
    border-radius: 0;
}

label {
    background: var(--gray);
    width: max-content;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    margin: 10px 10px;
    align-items: center;

    transition: all 0.5s;
}

label:hover{
    background: green;
}

.selected {
    background: green;
}

.book {
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px 0px black;

    transition: 0.5s;
}

.book:hover {
    background: rgb(71, 7, 71);
    border-radius: 20px 20px 0px 0px;
    color: white;
    box-shadow: 0px 0px 10px 0px black;
}

.book:hover .author {
    letter-spacing: 2px;
    color: white;
}

.tags {
    display: flex;
    justify-content: center;
    text-align: center;
}

.textMain {
    padding: 20px;
}

img {
    aspect-ratio: 9/13;
}

.toggleMenu{
    display: none;
}

.header {
    background: url("/images/mainBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px 0px black;
}

.title {
    text-align: center;
    font-size: 40px;
}

.title-content {
    font-size: 25px;
    color: white;
    width: 70%;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 100%;
    left: 15%;
}

.header-content {
    width: 100%;
    position: absolute;
    top: 30%;
}

.main {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 102%;
    left: 0;
}

.menu {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
}

.menu ul {
    display: flex;
    position: absolute;
    right: 2%;
}

.menu li {
    margin: 20px 30px;
    list-style: none;
}

.textMain {
    text-align: center;
    font-size: 35px;
}

.addInput {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: 2px solid white;
    text-decoration: none;
    position: absolute;
    width: 10%;
    text-align: center;
    bottom: 25%;
    left: 45%;

    font-size: 25px;
    padding: 20px 40px;
    border-radius: 40px;

    transition: 0.5s;
}

.addInput:hover {
    color: black;
    background: white;
    border-radius: 0;
}

.book-content {
    margin: 20px;
}

.book-title {
    font-size: 25px;
    font-weight: 500;
}

.author {
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;

    color: black;
}

#titleText {
    transition: 0.5s;
}

.bookDesc {
    font-size: 15px;
    width: fit-content;
    height: fit-content;
}

.description {
    position: initial;
    bottom: 0;
    left: 0;
}

.icon-menu{
    font-size: 50px;
    padding: 20px;
    position: absolute;
    top: 1%;
    right: 1%;

    transition: all 0.5s;
}

.icon-menu:hover{
    color: white;
}

.pages{
    display: flex;
    position: absolute;
    bottom: 0;
}

@media screen and (min-width:1600px) {

    .bookList {
        display: grid;
        grid-template-columns: repeat(4, 350px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
    .img {
        width: 100%;
        height: auto;

        border-radius: 20px 20px 0px 0px;
    }
}

@media screen and (max-width:1599px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
        .img {
        width: 100%;
        height: auto;

        border-radius: 20px 20px 0px 0px;
    }
}

@media screen and (max-width:1349px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
    .textMain {
        text-align: center;
        font-size: 32px;
    }

}

@media screen and (max-width:1249px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(3, 340px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media screen and (max-width:1149px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(3, 310px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media screen and (max-width:1049px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media screen and (max-width:999px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
    .toggleMenu{
        display: block;
    }
    .menuList{
        display: none;
        width: 50%;
        height: 100%;
        padding: 30px;
        position: absolute;
        top: 100px;
        right: 0%;
        background: rgba(43, 48, 57,0.9);

        border-radius: 10px 0px 0px 10px;
    }

    .menu ul {
        display: block;
        position: absolute;
        right: 2%;
        align-items: center;
    }

    .menu a{
        color: white;
    }
    .menu a:hover{
        color:purple;
    }


    .menu{
        background: none;
    }
}


@media screen and (max-width:899px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}


@media screen and (max-width:719px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: fit-content;
        column-gap: 20px;
        row-gap: 30px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media screen and (max-width:649px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(1, 80%);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }

    .tags {
        display: block;
        justify-content: center;
        text-align: center;
    }
}