@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

:root {
    /* CSS HEX */
    --white: #CEDEE3ff;
    --light-blue: #BCD6DCff;
    --gray: #39444Fff;
    --dark: #2B3039ff;
    --brown: #654332ff;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb{
    background: #3d0c02;

    border-radius: 10px;
}

#readText{
    z-index: -2;
}

span {
      background: #3d0c02;  
    /* background: #ddc09d; */
    /* background: crimson; */
    padding: 10px 20px;
    border-radius: 10px;
    transition: 1s;
    letter-spacing: 2px;
    color: white;
}

a {
    text-decoration: none;
    color: unset;
}

.menu a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
    padding: 10px 20px;
}

.menu a:hover {
    letter-spacing: 4px;
    /* color: darkred; */
    color: #704214;
}

.menu li {
    margin: 20px 30px;
    list-style: none;
}

.icon-menu{
    width: 50px;
    height: 50px;
    z-index: 2;
    position: absolute;
    top: 2%;
    right: 2%;

    border: 1px solid black;
    background: rgba(0,0,0, 0.6);
    border-radius: 50%;

}

.blocks{
    display: grid;
    grid-template-columns: repeat(1, 35px);
    grid-template-rows: repeat(3, 5px);
    row-gap: 4px;
    position: relative;
    top: 28%;
    left: 55%;
    transform: translateX(-40%);

}

.mEl{
    /* background: #DAA520; */
    background: #A0522D;
    z-index: 2;
    border-radius: 6px;
}
.mEl3{
    width: 17px;
    /* background: #DAA520; */
    background: #A0522D;
    border-radius: 6px;
    transition: 0.5s;
}

.icon-menu:hover .mEl3{
    width: 35px;
}

.menuList ul{
    text-align: center;
    position: relative;
    top:70%;
    transform: translateY(-85%);
}

form {
    padding: 20px;
}

input {
    margin: 10px 0;
}

input[type="text"] {
    border: none;
    background: none;
    border-bottom: 1px solid #2B3039ff;
    padding: 6px 10px;
    font-size: 18px;
    transition: 0.5s;
}


input[type="text"]:focus {
    outline: none;
}

input[type="submit"] {
    font-size: 18px;
    background: none;
    border: none;
    border: 1px solid #2B3039ff;
    padding: 10px 30px;

    transition: 0.5s;
}

input[type="submit"]:hover {
    background: #773200;
    color: white;
    border-radius: 0;
}

input[type="button"] {
    font-size: 18px;
    background: none;
    border: none;
    border: 1px solid #30351f;
    padding: 10px 30px;

    transition: 0.5s;
}

input[type="checkbox"] {
    display: none;
}

input[type="button"]:hover {
    background: #4e0000;
    color: white;
    border-radius: 0;
}

label {
    background: #4e0000;
    width: max-content;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    margin: 10px 10px;
    align-items: center;

    transition: all 0.5s;
}

label:hover {
    background: #773200;
}

.selected {
    background: #773200;
    box-shadow: 0px 0px 5px 0px #773200;
    letter-spacing: 2px;
}

.book {
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px 0px black;

    transition: 0.5s;
}

.book:hover {
    background: #30351f;
    border-radius: 20px 20px 0px 0px;
    color: white;
    box-shadow: 0px 0px 10px 0px black;
}

.book:hover .author {
    letter-spacing: 2px;
    color: white;
}

.tags {
    display: flex;
    justify-content: center;
    text-align: center;
}

.textMain {
    padding: 20px;
}

img {
    aspect-ratio: 9/13;
}

.header {
    background: url("https://wallpaperaccess.com/full/2819714.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px 0px black;
}

.title {
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.title-content {
    font-size: 30px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0 10px;
    min-height: fit-content;
    border-radius: 20px;
    position: absolute;
    top: 70%;
    left: 15%;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 5px;
    font-weight: 900;
    /* background: rgba(255,255,255,0.3); */
    color: white;
}

.header-content {
    width: 50%;
    position: absolute;
    top: 50%;
    right: 2%;
}

.main {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 102%;
    left: 0;
    padding-bottom: 10%;
    margin-top: 20px;
}

.textMain {
    text-align: center;
    font-size: 35px;
}

.addInput {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: 2px solid white;
    text-decoration: none;
    position: absolute;
    width: 10%;
    text-align: center;
    bottom: 25%;
    left: 45%;

    font-size: 25px;
    padding: 20px 40px;
    border-radius: 40px;

    transition: 0.5s;
}

.addInput:hover {
    color: black;
    background: white;
    border-radius: 0;
}

.book-content {
    margin: 20px;
}

.book-title {
    font-size: 25px;
    font-weight: 500;
}

.author {
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;

    color: black;
}

#titleText {
    transition: 0.5s;
}

.bookDesc {
    font-size: 15px;
    width: fit-content;
    height: fit-content;
}

.description {
    position: initial;
    bottom: 0;
    left: 0;
}

.pages {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.previous button,
.pagesList button,
.next button {
    background: none;
    border: none;
    font-size: 25px;
    border-bottom: 2px solid black;
    margin: 2px;
    padding-bottom: 2px;
    width: 35px;
    height: 35px;
    transition: all 0.5s;
}

.previous button:hover,
.pagesList button:hover,
.next button:hover {
    border: 2px solid black;
    padding: 2px;
    border-radius: 50%;
    background: #6f3a02;
    color: white;
}

@media screen and (min-width:1600px) {

    .bookList {
        display: grid;
        grid-template-columns: repeat(4, 350px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
        padding-top: 30px;
    }

    .img {
        width: 100%;
        height: auto;

        border-radius: 20px 20px 0px 0px;
    }

    .menuList {
        display: grid;
        grid-template-columns: 40% 2px 59%;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }

    .menuChild{
        width: 59%;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
        background: url("https://i.pinimg.com/originals/24/3c/1d/243c1d709182329320633deb19f207b3.jpg");
        background-position: 51%;
        background-repeat: no-repeat;
        background-size: cover ;
    }

    .border{
        width: 100%;
        height: 90%;
        background-color: #704214;
    }

    .menu a{
        font-weight: 900;
        font-size: 40px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width:1599px) {

    .bookList {
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
        padding-top: 30px;
    }

    .img {
        width: 100%;
        height: auto;

        border-radius: 20px 20px 0px 0px;
    }

    .menuList {
        display: grid;
        grid-template-columns: 40% 2px 59%;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }

    .menuChild{
        width: 59%;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
        background: url("https://i.pinimg.com/originals/24/3c/1d/243c1d709182329320633deb19f207b3.jpg");
        background-position: 51%;
        background-repeat: no-repeat;
        background-size: cover ;
    }

    .border{
        width: 100%;
        height: 90%;
        background-color: #704214;
    }

    .menu a{
        font-weight: 900;
        font-size: 40px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width:1349px) {

    .bookList {
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }

    .textMain {
        text-align: center;
        font-size: 32px;
    }
}

@media screen and (max-width:1249px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(3, 340px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }

    .menu a{
        font-weight: 800;
        font-size: 30px;
    }
}

@media screen and (max-width:1149px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(3, 310px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media screen and (max-width:1049px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media screen and (max-width:999px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }

    .menu a{
        font-weight: 700;
        font-size: 30px;
    }
}


@media screen and (max-width:909px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }


    .menuList {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 44% 2px 54%;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }

    .menuChild{
        width: 100%;
        height: 54%;
        position: absolute;
        top:46%;
        right: 0;
        background: url("https://i.pinimg.com/originals/24/3c/1d/243c1d709182329320633deb19f207b3.jpg");
        background-position: 51%;
        background-repeat: no-repeat;
        background-size: cover ;
    }

    .border{
        width: 100%;
        height: 90%;
        background-color: #704214;
    }
}


@media screen and (max-width:719px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: fit-content;
        column-gap: 20px;
        row-gap: 30px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }
}

@media screen and (max-width:649px) {
    .bookList {
        display: grid;
        grid-template-columns: repeat(1, 80%);
        grid-template-rows: fit-content;
        column-gap: 30px;
        row-gap: 40px;
        overflow-x: hidden;
        justify-content: center;

        font-size: 20px;
        padding-bottom: 5%;
    }

    .tags {
        display: block;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    label {
        display: block;
        margin: 10px auto;
    }


    .menuList {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 49% 2px 49%;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }

    .menuChild{
        width: 100%;
        height: 49%;
        position: absolute;
        top:51%;
        right: 0;
        background: url("https://i.pinimg.com/originals/24/3c/1d/243c1d709182329320633deb19f207b3.jpg");        
        background-position: 51%;
        background-repeat: no-repeat;
        background-size: cover ;
    }

    .border{
        width: 100%;
        height: 90%;
        background-color: #704214;
    }
}