* {
    font-family: Arial, Helvetica, sans-serif;
}

.backs{
    position: absolute;
    bottom: 5%;
    left: 0;
    writing-mode: vertical-rl;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb{
    background: #3d0c02;

    border-radius: 10px;
}


a {
    text-decoration: none;
    color: unset;
}

.menu a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
    padding: 10px 20px;
}

.menu a:hover {
    letter-spacing: 4px;
    /* color: darkred; */
    color: #704214;
}

.menu li {
    margin: 20px 30px;
    list-style: none;
}

.icon-menu{
    width: 50px;
    height: 50px;
    z-index: 2;
    position: absolute;
    top: 2%;
    right: 2%;

    border: 1px solid black;
    background: rgba(0,0,0, 0.6);
    border-radius: 50%;

}

.blocks{
    display: grid;
    grid-template-columns: repeat(1, 35px);
    grid-template-rows: repeat(3, 5px);
    row-gap: 4px;
    position: relative;
    top: 28%;
    left: 55%;
    transform: translateX(-40%);
}

.mEl{
    /* background: #DAA520; */
    background: #A0522D;
    z-index: 2;
    border-radius: 6px;
}
.mEl3{
    width: 17px;
    /* background: #DAA520; */
    background: #A0522D;
    border-radius: 6px;
    transition: 0.5s;
    margin-left:18px ;
}

.icon-menu:hover .mEl3{
    width: 35px;
    margin-left: 0;
}

.menuList ul{
    text-align: center;
    position: relative;
    top:50%;
    transform: translateY(-40%);
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8px;
    left: -8px;
    overflow-x: hidden;
}

.background{
    width: 100%;
    height: 100%;
    background: url("/images/LoginBackground.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

}

.input{
    margin-bottom: 70px;
}

input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #f6e188;
    font-size: 20px;
    width: 300px;
    padding: 5px 20px;

    color: white;
}

input::placeholder {
    color: rgb(158, 158, 158);
}

input:focus {
    outline: none;
}

button {
    margin: 40px;
    background: none;
    border: 2px solid #8f631a;
    padding: 10px 30px;
    font-size: 15px;
    color: white;
    border-radius: 10px;

    transition: 0.3s;
}

button:hover {
    background: #8f631a;
}

p {
    font-size: 30px;
    text-align: center;
}

.greetings{
    background: url("/images/LoginBackgroundMini.webp");
    background-size: cover;
}

.greetings h1{
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    width: fit-content;
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background: linear-gradient(90deg ,#b6a666 30%, #a16d21);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px 0px #a16d21;


}

@media screen and (min-width: 1599px) {
    
    .main{
        width: 980px;
        height: 500px;
        margin: auto;
        justify-content: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        display: grid;
        grid-template-columns: 40% 60%;

        box-shadow: 10px 20px 80px black;
        border-radius: 30px;
    }

    .login {
        background: #141213;
        text-align: center;
        border-left: 2px solid #704214;
        border-radius: 0 30px 30px 0;
    }

    .greetings{
        background-position: 51%;
        border-radius: 30px 0 0 30px;
    }

    h1{
        font-weight: 500;
        color: white;
    }

    .form{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .menuList {
        display: grid;
        grid-template-columns: 40% 2px 59%;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }

    .menuChild{
        width: 59%;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
        background: url("https://i.pinimg.com/originals/24/3c/1d/243c1d709182329320633deb19f207b3.jpg");
        background-position: 51%;
        background-repeat: no-repeat;
        background-size: cover ;
    }

    .border{
        width: 100%;
        height: 90%;
        background-color: #704214;
    }

    .menu a{
        font-weight: 900;
        font-size: 40px;
        letter-spacing: 1px;
    }
}

h2{
    color: white;
}

@media screen and (max-width: 1599px) {

    .main{
        width: 980px;
        height: 500px;
        margin: auto;
        justify-content: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        display: grid;
        grid-template-columns: 40% 60%;

        box-shadow: 10px 20px 80px black;
        border-radius: 30px;
    }
    .login {
        background: #141213;
        text-align: center;
        border-left: 2px solid #704214;
        border-radius: 0 30px 30px 0;
    }

    .greetings{
        background-position: 51%;
        border-radius: 30px 0 0 30px;
    }

    h1{
        font-weight: 500;
        color: white;
    }
    .form{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .menuList {
        display: grid;
        grid-template-columns: 40% 2px 59%;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }

    .menuChild{
        width: 59%;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
        background: url("https://i.pinimg.com/originals/24/3c/1d/243c1d709182329320633deb19f207b3.jpg");
        background-position: 51%;
        background-repeat: no-repeat;
        background-size: cover ;
    }

    .border{
        width: 100%;
        height: 90%;
        background-color: #704214;
    }

    .menu a{
        font-weight: 900;
        font-size: 40px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 1049px) {

    .main{
        width: 60%;
        margin: auto;
        justify-content: center;
        position: relative;
        top: 50%;
        transform: translateY(-70%);

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
    }

    .login {
        height: fit-content;
        background: #141213;
        text-align: center;
        border-top: 1px solid #704214;
        border-left: none;
        border-radius: 0 0 30px 30px;
    }

    .greetings{
        border-radius: 30px 30px 0 0;
    }

    .greetings h1{
        font-size: 20px;
        font-weight: 500;
        position: relative;
        top: 40%;
    }
    .form{
        position: relative;
        top: 50%;
        transform: translateY(2%);
    }

    .menu a{
        font-weight: 700;
        font-size: 30px;
    }
}


@media screen and (max-width: 709px) {

    .main{
        width: 60%;
        margin: auto;
        justify-content: center;
        position: relative;
        top: 50%;
        transform: translateY(-60%);

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35% 65%;
    }
    .login {
        height: fit-content;
        text-align: center;
        border-top: 1px solid #704214;
        border-radius: 0 0 30px 30px;
    }

    .greetings{
        background-position: 51%;
        border-radius: 30px 30px 0 0;
    }

    input {
        width: 200px;
    }
    .greetings h1{
        font-size: 15px;
        font-weight: 500;
        position: relative;
        top: 35%;
    }

    .menuList {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 49% 2px 49%;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    
        z-index: 1;
        border-radius: 10px 0px 0px 10px;
    }

    .menuChild{
        width: 100%;
        height: 49%;
        position: absolute;
        top:51%;
        right: 0;
        background: url("https://i.pinimg.com/originals/24/3c/1d/243c1d709182329320633deb19f207b3.jpg");        
        background-position: 51%;
        background-repeat: no-repeat;
        background-size: cover ;
    }

    .border{
        width: 100%;
        height: 90%;
        background-color: #704214;
    }
}

@media screen and (max-width: 559px) {

    .main{
        width: 60%;
        margin: auto;
        justify-content: center;
        position: relative;
        top: 50%;
        transform: translateY(-60%);

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35% 65%;
    }
    .login {
        height: fit-content;
        text-align: center;
        border-radius: 0 0 30px 30px;
    }

    .greetings{
        background-position: 51%;
        border-radius: 30px 30px 0 0;
    }

    input {
        width: 200px;
    }
    .greetings h1{
        font-weight: 500;
        position: relative;
        top: 35%;
    }
    .input{
        margin-bottom: 50px;
        margin-top: 40px;
    }
    h2{
        margin:5px;
        font-weight: 500;
        color: white;
    }
}

@media screen and (max-width: 499px) {
    input {
        width: 150px;
        font-size: 15px;
    }
    .input{
        margin-bottom: 50px;
        margin-top: 40px;
    }
    h2{
        margin:5px;
        font-size: 20px;
    }
}

