* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 99%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/images/colors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

.login {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 35%;
    background: white;
    box-shadow: 0px 0px 5px 0px black;
}

input {
    background: transparent;
    border: none;
    border-bottom: 2px solid red;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 20%;
    width: 300px;
    padding: 5px 10px;
}

input::placeholder {
    color: gray;
}

input:focus {

    outline: none;

}

button {
    margin: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    border: none;
    padding: 10px 30px;
    border: 2px solid black;
    font-size: 15px;

    border-radius: 10px;

    transition: 0.3s;
}

button:hover {
    border-radius: 0;
}

p {
    font-size: 30px;
    text-align: center;
}